.App {
  text-align: left;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
.logo-section {
  background-color: #73c9a1;
  text-align: center;
  min-height: 5vh;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #282c34;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
