/fe/app/yarn.lock
bin/
*/.sonar/
*/.scannerwork
/metrics/sitespeed-result/
/.idea/
*.orig
/jmeter/jtl/*
/jmeter/reports/*
/jmeter/logs/*
/.gradle/
/fe/app/.eslintcache
*.log
/.vscode/settings.json
/akhq-kafka/.gradle/
